
@import './stylesheet.css';

/* :root {
   
  --theme-color:#006eff;
  --background-light: #f5f5f5;
  --background-dark:  #000;
  --text-dark: #333333;
  --text-light: rgba(255, 255, 255, 0.9);
  --sub-text: rgba(255, 255, 255, 0.6);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
  
  }
   */

.canvas {

  width: 100vw;
  height: 100vh;
  display: block;
  top: 0;
  left: 0;
  z-index: -9999;
 

}

.projet_title {
  position: absolute;
  display:flex;
  flex-direction:column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
 
 }

 .projet_title .text_wrapper{
  text-align: start;
  width:fit-content;
}
.text_wrapper span{
  
  line-height: 0;
}

.text_wrapper h1{
  color: var(--background-light);
  font-size: 10rem;
  line-height: 0;
  margin-bottom: 5rem;
}


.down:hover{
  transform: translate3d(0, 10px, 0);
}


a.down {
  height: fit-content;
  width: fit-content;
}

.down svg{
  height: 100px;
  width: 100px;
}




@media screen and (max-width:749px) {
  .text_wrapper h1{
    color: var(--background-light);
    font-size: 5rem;
    line-height: 0;
    margin-bottom: 4rem;
  }


}




/* FICHE PROJET */

.modal__content {
  
  background-color: var(--background-dark);
  width: 100%;

  padding: 1rem 1rem;
  text-align: justify;
}

.grid__text__item {
  -webkit-columns: 2 150px;
  -moz-columns: 2 150px;
  columns: 2 150px;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  column-gap: 2em;
  white-space: pre-wrap;
}

.modal .container {
    background-repeat: no-repeat;
    background-position: top left;
    

  max-width: 100%;
  background-color: var(--background-dark);
  justify-content: center;
  align-items: center;
}


.line {
  border-top: 3px solid var(--background-light);
  padding: 20px 0px 20px 0px;
}

.c {
  overflow: hidden;

}

.c .p {
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}




.line img {
  margin-top: 1em;
  width: 100%;
  border-radius: var(--spacing-l);
}

.wrapper {
  display: grid;
  grid-template-columns: 50% 2% 50%;
  grid-template-rows: auto;
  width: 80%;
  margin: 50px auto;
  color: var(--text-light);
  
}

.title {
  font-size: 3em;
  line-height: 1em;
  color: var(--text-light);
}

.b ul {
  list-style: none;
}



/* ========================================== MEDIA QUERIES ===================== */

@media only screen and (max-width: 749px) {
  .wrapper {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }

  .a {


    grid-row: 1 / 2;
  }

  .b {
    grid-column: 1 /2;
    grid-row: 2 / 3;
  }

  .c {
    grid-row: 3 / 4;
  }

  .d {
    grid-row: 4 / 5;
  }

  .e {
    grid-row: 5 / 6;
  }

  .f {
    grid-column: 1 /2;
    grid-row: 6 / 7;
  }

  .g {
    grid-column: 1 /2;
    grid-row: 8 / 9;
  }

  .h {
    grid-column: 1 /2;
    grid-row: 9 / 10;
  }
}

@media only screen and (min-width: 750px) {
  .wrapper {
    display: grid;
    grid-template-columns: 50% 2% 50%;
    grid-template-rows: auto;
  }

  .a {
    /*   or grid-area: row-start / col start / row end / col end */

    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .b {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  .c {
    font-weight: bold;
    font-size: 1.7em;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .d {
    font-weight: bold;
    font-size: 1.7em;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .e {
    font-weight: bold;
    font-size: 1.7em;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }

  .f {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }

  .g {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }

  .h {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
  }
}

/* FICHE PROJET */

/* LIEN EN BAS DE PAGE VERS #PORTFOLIO */

.link {
  display:flex;
  flex-direction:column;
  text-align: center;
  justify-content: center;
  align-items: center;
 }

 .link .link_wrapper{
  text-align: center;
  width:fit-content;
}

.link_wrapper h1{
  color: var(--background-light);
  font-size: 10rem;
}

@media screen and (max-width:749px) {
  .link_wrapper h1{
    color: var(--background-light);
    font-size: 2rem;
    margin-bottom: 10rem;
  }
}

/* LIEN EN BAS DE PAGE VERS #PORTFOLIO */