:root {
    --color-body: #333333;
    --background-body: #F5F5F5;
    --background-darker-body: #e5e5df;
    --background-indesign-body: #f4ede7;
    --bg-img: url(https://tylergaw.com/images/noise-tile-light.svg);
    --gradient: linear-gradient(45deg, #e66465, #9198e5, #37ae9c, #4c826b);
    --gradient2: radial-gradient(closest-side, #e85914, #F5f5f5), url(https://grainy-gradients.vercel.app/noise.svg);
    --gradient3: linear-gradient(45deg, #e66465, #9198e500, #37ae9c, #f5f5f500), url(https://grainy-gradients.vercel.app/noise.svg);
    --background-dark: #2d3548;
    --text-light: rgba(255, 255, 255, 0.6);
    --text-lighter: rgba(255, 255, 255, 0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
  
  }
  

  .canvas {

    width: 100vw;
    height: 100vh;
    display: block;
    top: 0;
    left: 0;
    z-index: -9999;
  
  }
  
  .projet_title {
    position: absolute;
    display:flex;
    flex-direction:column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
   
   }
  
   .projet_title .text_wrapper{
    text-align: start;
    width:fit-content;
  }
  .text_wrapper span{
    
    line-height: 0;
  }
  
  .text_wrapper h1{
    color: var(--background-body);
    font-size: 10rem;
    line-height: 0;
    margin-bottom: 5rem;
  }
  
  
  .down:hover{
    transform: translate3d(0, 10px, 0);
  }
  
  
  a.down {
    height: fit-content;
    width: fit-content;
  }
  
  .down svg{
    height: 100px;
    width: 100px;
  }
  
  a.down :hover{
    color: #af2727;
  
  }
  
  
  
  @media screen and (max-width:749px) {
    .text_wrapper h1{
      color: var(--background-body);
      font-size: 3rem;
      line-height: 0;
      margin-bottom: 4rem;
    }
  
  
  }
  
  
  
  
  /* FICHE PROJET */
  
  .modal__content {
    
    background-color: rgba(0, 0, 0, 0.89);
    width: 100%;
  
    padding: 1rem 1rem;
    text-align: justify;
  }
  
  .grid__text__item {
    -webkit-columns: 2 150px;
    -moz-columns: 2 150px;
    columns: 2 150px;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em;
    white-space: pre-wrap;
  }
  
  .modal .container {
      background-repeat: no-repeat;
      background-position: top left;
      
  
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.89);
    justify-content: center;
    align-items: center;
  }
  
  
  .line {
    border-top: 3px solid #fff;
    padding: 20px 0px 20px 0px;
  }
  
  .c {
    overflow: hidden;
  
  }
  
  .c .p {
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
  }
  
  
  
  
  .line img {
    margin-top: 1em;
    width: 100%;
    border-radius: var(--spacing-l);
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: 50% 2% 50%;
    grid-template-rows: auto;
    width: 80%;
    margin: 50px auto;
    color: #fff;
    
  }
  
  .title {
    font-size: 3em;
    line-height: 1em;
    color: #fff;
  }
  
  .b ul {
    list-style: none;
  }
  
  
  
  /* ========================================== MEDIA QUERIES ===================== */
  
  @media only screen and (max-width: 749px) {
    .wrapper {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto;
    }
  
    .a {
  
  
      grid-row: 1 / 2;
    }
  
    .b {
      grid-column: 1 /2;
      grid-row: 2 / 3;
    }
  
    .c {
      grid-row: 3 / 4;
    }
  
    .d {
      grid-row: 4 / 5;
    }
  
    .e {
      grid-row: 5 / 6;
    }
  
    .f {
      grid-column: 1 /2;
      grid-row: 6 / 7;
    }
  
    .g {
      grid-column: 1 /2;
      grid-row: 8 / 9;
    }
  
    .h {
      grid-column: 1 /2;
      grid-row: 9 / 10;
    }
  }
  
  @media only screen and (min-width: 750px) {
    .wrapper {
      display: grid;
      grid-template-columns: 50% 2% 50%;
      grid-template-rows: auto;
    }
  
    .a {
      /*   or grid-area: row-start / col start / row end / col end */
  
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
  
    .b {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
    }
  
    .c {
      font-weight: bold;
      font-size: 1.7em;
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
  
    .d {
      font-weight: bold;
      font-size: 1.7em;
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }
  
    .e {
      font-weight: bold;
      font-size: 1.7em;
      grid-column: 1 / 2;
      grid-row: 4 / 5;
    }
  
    .f {
      grid-column: 3 / 4;
      grid-row: 2 / 3;
    }
  
    .g {
      grid-column: 3 / 4;
      grid-row: 3 / 4;
    }
  
    .h {
      grid-column: 3 / 4;
      grid-row: 4 / 5;
    }
  }
  
  /* FICHE PROJET */